.card {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}
.card__image {
    height: 413px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    display: block;
    margin-bottom: 12px;
}

.card__delete-button {
    background-image: url(../images/deleteDefault.svg);
    width: 32px;
    height: 32px;
    top: 10px;
    right: 10px;
    border: none;
    position: absolute;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.card__delete-button:hover {
    background-image: url(../images/deleteHover.svg);
}

.card__delete-button_active {
    background-image: url(../images/heartLiked.svg);
    opacity: 1;
}

.card__delete-button_active:hover {
    background-image: url(../images/heartLikeRed.svg);
    opacity: .4;
}

.card__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 353px;
    margin: 0 0 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0%;
    color: rgba(33, 33, 33, 1);
}

.card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__like-btn {
    background-image: url(../images/../images/like-icon-dark.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 40%;
    cursor: pointer;
}

.card__like-btn:hover {
    opacity: 100%;
}


.card__like-button_active {
    background-image: url(../images/heartLikeRed.svg);
    opacity: 1;
}

.card__like-button_active:hover {
    background-image: url(../images/heartLikeRed.svg);
    opacity: .4;
}


@media screen and (max-width: 627px) {
    .cards__list {
        row-gap: 20px;
        padding-bottom: 20px;
    }
    
    .card__image {
        height: 288px;
        width: 288px;
    }

    .card__title {
        max-width: 257px;
        font-size: 16px;
    }

    .card__like-btn {
        width: 20px;
        height: 18px;
    }

}
