.card__image {
    height: 413px;
    width: 100%;
    object-fit: 100%;
    display: block;
}

.card__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 353px;
}

.card__content {
    display: flex;
    align-items: center;
    height: 18px;
    justify-content: space-between;
}

.card__like-btn {
    background-image: url(../images/like.heart.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 40%;
}

@media screen and (max-width: 627px) {
    .card__image {
        height: 288px;
        width: 288px;
    }

    .card__title {
        max-width: 257px;
    }

}